/*----index----*/

@media screen and (max-width:1080px) {
    .search {
        display: none;
    }

    .menu {
        display: none;
    }

    .Newen {
        font-size: 10px;
        line-height: 0.5;
    }
    
    .bodyy {
        position: relative;
        right: 80px;
    }

    /*-漢堡選單-*/
    .box {
        background: #000;
        width: 200px;
        height: 200px;
        position: relative;
        z-index: 3;
    }

    .menu-btn {
        width: 64px;
        height: 64px;
        background: #fff;
        position: fixed;
        top: 2%;
        right: 0;
        padding-top: 10px;
        box-sizing: border-box;
        z-index: 1;
        cursor: pointer;
        z-index: 3;
    }

    .menu-btn span {
        width: 60%;
        height: 2px;
        background: dimgray;
        display: block;
        margin: 10px auto;
        z-index: 3;
    }

    .menu-box {
        width: 40%;
        height: 100vh;
        background: #FFF;
        position: fixed;
        top: 0;
        right: -40%;
        transition: all .3s;
        z-index: 2;
        padding: 80px 20px 20px 20px;
        ;
    }

    .menu-box a {
        font-size: 20px;
        color: dimgray;
        font-family: inherit;
        line-height: 2;
        z-index: 2;
    }

    /*-漢堡選單-*/
}

/*-漢堡選單範圍-*/

.menu-box.active {
    right: 0 !important;
}

.menu-btn.active span:first-child {
    transform: rotate(45deg) translate(10px, 10px);
}

.menu-btn.active span:last-child {
    transform: rotate(-45deg) translate(8px, -8px);
}

.menu-btn.active span:nth-child(2) {
    opacity: 0;
}

/*-漢堡選單範圍-*/


/*-header範圍-*/

html {
    min-height: 100%;
    position: relative;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    position: fixed;
    padding: 5px;
    left: 5%;
}

.search {
    height: 100px;
    width: 300px;
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 1;

}

.header {
    position: fixed;
    background-color: #fff;
    height: 100px;
    width: 100%;
    padding: 20px 100px 20px 20px;
    top: 0;
    box-sizing: border-box;
    z-index: 2;
}


.menu {
    padding: 20px;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

.menu a {
    color: #666;
    font-weight: normal;
    margin: 20px 15px;
    padding: 20px 15px;
}

.hero-img {
    height: 90vh;
    width: 90%;
    background-image: url(wine3.jpg);
    margin: 0px;
    position: absolute;
    top: %;
    left: 5%;
}

.slogan {
    color: aliceblue;
    text-align: center;
    padding-top: 40vh;
}

h1 {
    font-size: 100px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    font-weight: bold;
}

/*-header範圍-*/

.bodyy {
    margin: 0 auto;
    height: auto;
    width: auto;
    line-height: 5;
}

.about {
    margin: 0px 0px 0px 0px;
    padding: 720px 0px 0px 0px;
    font-size: 34px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: dimgrey;

}

.Title1 {
    padding: 720px 20px 60px 20px;
    font-size: 34px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: dimgrey;
}

.Title2 {
    padding: 60px 20px 60px 20px;
    font-size: 34px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: dimgrey;
}

.Newen {
    line-height: 3;
    margin: 0 auto;
}

.kon {
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: white;
}

.s1 {
    width: 200px;
    height: 200px;
    background-color: moccasin;
    border-radius: 20%;
    text-align: center;
    line-height: 8.5;
    font-size: 24px;
    font-family: monospace;
    color: dimgray;

}

.s2 {
    width: 200px;
    height: 200px;
    background-color: moccasin;
    border-radius: 20%;
    text-align: center;
    line-height: 8.5;
    font-size: 24px;
    font-family: monospace;
    color: dimgray;

}

.s3 {
    width: 200px;
    height: 200px;
    background-color: moccasin;
    border-radius: 20%;
    text-align: center;
    line-height: 8.5;
    font-size: 24px;
    font-family: monospace;
    color: dimgray;
}

.s1:hover {
    background-color: coral;
    border-radius: 50%;
    transition-duration: 1s;
}

.s2:hover {
    background-color: coral;
    border-radius: 50%;
    transition-duration: 1s;
}

.s3:hover {
    background-color: coral;
    border-radius: 50%;
    transition-duration: 1s;
}


.col {
    padding: 0px 0px 0px 85px;
}


h4 {
    text-align: center;
    padding: 60px;
    color: dimgrey;
    font-size: 12pt;

}

.footer {
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px;
}

/*----index----*/